body {
  font: 1em/1.4 Helvetica, sans-serif;
  text-align: center;
  background: #222;
  color: #fff;
}

h1 {
  font-size: 3em;
}

a.button {
  font-size: 1.2em;
  display: inline-block;
  background: #249022;
  color: #fff;
  text-decoration: none;
  padding: 8px 50px;
  font-weight: bold;
}

a.button:hover {

}
