@-webkit-keyframes glow {
  0% {
    box-shadow: 0 0 200px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 200px rgba(255, 255, 255, 1);
  }
}

body {
  font: 1.5em/1.4 "Graduate", Helvetica, sans-serif;
  background: url(background.jpg) #222;
}

#box {
  margin: 150px auto;
  padding: 150px 0;
  text-align: center;
  width: 400px;
  background: #fff; 
  color: #222;
  -webkit-animation: glow 2s infinite alternate;
}

#box:hover {
  color: #f00;
  background: #999;
  width: 600px;
  
}